In [1]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.20.1'

In [3]:
pd.__version__

'1.2.4'

In [5]:
data = pd.read_csv('car_price_data.csv')

In [6]:
data.shape

(11914, 16)

In [7]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [9]:
data.isnull().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [10]:
data_bmw = data[data.Make == 'BMW']

In [11]:
data_bmw.MSRP.mean()

61546.76347305389

In [12]:
data_2015 = data[data.Year >= 2015]

In [13]:
data_2015['Engine HP'].isnull().sum()

51

In [14]:
print("before:", data_2015['Engine HP'].mean())

before: 272.98771870794076

In [15]:
data_2015['Engine HP'] = data_2015['Engine HP'].fillna(value=data_2015['Engine HP'].mean())

<ipython-input-15-2196616e0426>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_2015['Engine HP'] = data_2015['Engine HP'].fillna(value=data_2015['Engine HP'].mean())

In [16]:
data_2015['Engine HP'].isnull().sum()

0

In [17]:
print("after:", data_2015['Engine HP'].mean())

after: 272.98771870794116

In [18]:
data.Make.value_counts()

Chevrolet        1123
Ford              881
Volkswagen        809
Toyota            746
Dodge             626
Nissan            558
GMC               515
Honda             449
Mazda             423
Cadillac          397
Mercedes-Benz     353
Suzuki            351
BMW               334
Infiniti          330
Audi              328
Hyundai           303
Volvo             281
Subaru            256
Acura             252
Kia               231
Mitsubishi        213
Lexus             202
Buick             196
Chrysler          187
Pontiac           186
Lincoln           164
Oldsmobile        150
Land Rover        143
Porsche           136
Saab              111
Aston Martin       93
Plymouth           82
Bentley            74
Ferrari            69
FIAT               62
Scion              60
Maserati           58
Lamborghini        52
Rolls-Royce        31
Lotus              29
Tesla              18
HUMMER             17
Maybach            16
Alfa Romeo          5
McLaren             5
Genesis             3
Spyker              3
Bugatti             3
Name: Make, dtype: int64

In [19]:
data_rolls_royce = data[data.Make == 'Rolls-Royce'][['Engine HP', 'Engine Cylinders', 'highway MPG']]

In [20]:
list(data_rolls_royce)

['Engine HP', 'Engine Cylinders', 'highway MPG']

In [21]:
data_rolls_royce = data_rolls_royce.drop_duplicates()

In [22]:
data_rolls_royce

       Engine HP  Engine Cylinders  highway MPG
2921       325.0               8.0           15
3505       563.0              12.0           19
5275       563.0              12.0           21
5279       563.0              12.0           20
7443       322.0              12.0           15
7553       453.0              12.0           19
11448      624.0              12.0           21

In [23]:
data_rolls_royce_arr = data_rolls_royce.to_numpy()

In [24]:
data_rolls_royce_arr

array([[325.,   8.,  15.],
       [563.,  12.,  19.],
       [563.,  12.,  21.],
       [563.,  12.,  20.],
       [322.,  12.,  15.],
       [453.,  12.,  19.],
       [624.,  12.,  21.]])

In [25]:
data_rolls_royce_arr.T.dot(data_rolls_royce_arr).sum()

1970887.0

In [26]:
np.linalg.inv(data_rolls_royce_arr.T.dot(data_rolls_royce_arr)).sum()

0.032212320677486195

In [27]:
y = np.array([1000, 1100, 900, 1200, 1000, 850, 1300])

In [28]:
np.linalg.inv(data_rolls_royce_arr.T.dot(data_rolls_royce_arr)).dot(data_rolls_royce_arr.T).dot(y)

array([ 0.19989598, 31.02612262, 31.65378877])